body {
    background-size: 42px 42px;
    background-color: rgba(255, 254, 254, 0.913);

}

header {
    font-size: 18px;
}

.content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.content1 small a {
    color: #42372e;
}

.dform {
    position: relative;
    align-content: center;
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 18px;

}

.cont1 {
    position: relative;
    margin: auto;
    width: 30%;
    border-radius: 20px;
    font-size: 48px;
    color: black;
}

.left {
    text-align: center;
}

.right {
    padding-bottom: 5px;
}

.cen {
    text-align: center;
}


ul#userinfo {
    display: none;

}

ul#userinfo a {
    color: #362d26;
    text-decoration: none;
}

ul#userinfo a:hover {
    color: #362d26;
    text-decoration: underline;
}

ul#userinfo * {
    display: inline;
    text-decoration: none;
}

ul#userinfo li {
    position: relative;

}

ul#userinfo li .badge {
    background-color: #d2d1d1;
    color: #000;
    top: -15px;
    right: -10px;

}

.shopping_cart i {
    font-size: 28px;
    cursor: pointer;
}

.carts_products {
    position: absolute;
    width: 255px;
    transform: translate(-40%, 0%);
    background-color: #c5bdb750;
    top: 35px;
    padding: 10px;
    text-align: center;
    border: 1px solid #9b938a;
}

.carts_products div p i {
    font-size: 13px;

}

.carts_products div p {

    border-radius: 5px;
    background-color: #f9f7f4;

}

.carts_products a {
    display: block;
    color: #000;
    transition: 1s;
    margin-top: 10px;
    padding: 3px;
    background-color: #b0b0b0;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;


}

.s {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 48px;

}

.log_out {
    font-size: 18;
}


.product-item {
    transition: 0.5s;
    background-color: #ebeeef;
}

.product-item:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 1px 1px 10px black;
}

.total {
    text-align: center;
    font-size: 30px;

}

.fav-item {
    width: 300px;
    transition: 1s;
}

.fav-item:hover {
    box-shadow: 1px 1px 10px black;
}

.product-item-img {
    width: 100%;
    height: 250px;
    margin: auto;
    padding-top: 8px;
}

.line {
    width: 60px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    transition: 1s;
}

.favz:hover .line {
    transform: scaleX(2);
}

.favz {
    transition: 1s;
    text-align: center;
}

.fav-item-img {
    padding-top: 5px;
    width: 250px;
    height: 250px;
}

.f {
    margin-bottom: 40px;
}

.cartitem1 {
    max-width: 630px;
    background-color: #ebeeef;
    border-style: solid;
    text-align: center;
    transition: 1s;
}

.cartitem1:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 1px 1px 5px black;
}